{
  "extends": "@ssense/ui-core/client-react",
  "plugins": ["react"],
  "env": { "es6": true },
  "settings": {
    "import/resolver": ["webpack"]
  },
  "rules": {
    "max-len": [
      "error", { "code": 150, "tabWidth": 4 }
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1,
        "MemberExpression": 1,
        "ObjectExpression": 1,
        "CallExpression": {
          "arguments": 1
        }
      }
    ],
    "no-param-reassign": ["error", { "props": false }],
    "import/no-extraneous-dependencies": 1,
    "import/no-named-as-default": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "globals": {
    "ssense": true,
    "UI_HOST": true
  }
}
